In [503]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [504]:
df=pd.read_csv('train.csv')

In [505]:
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [506]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5847 entries, 0 to 5846
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5847 non-null   int64
 1   Name               5847 non-null   object
 2   Location           5847 non-null   object
 3   Year               5847 non-null   int64
 4   Kilometers_Driven  5847 non-null   int64
 5   Fuel_Type          5847 non-null   object
 6   Transmission       5847 non-null   object
 7   Owner_Type         5847 non-null   object
 8   Mileage            5845 non-null   object
 9   Engine             5811 non-null   object
 10  Power              5811 non-null   object
 11  Seats              5809 non-null   float64
 12  New_Price          815 non-null    object
 13  Price              5847 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 639.6+ KB

In [507]:
missing_values = df.isnull().sum()
missing_values

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [508]:
columns_with_missing_values = missing_values[missing_values > 0]

In [509]:
columns_with_missing_values

Mileage         2
Engine         36
Power          36
Seats          38
New_Price    5032
dtype: int64


Imputing missing values with the mode is justified when dealing with categorical or ordinal data like the number of seats in a dataset. It ensures that no data is lost and helps maintain the integrity of the dataset by replacing missing values with the most frequently occurring value.

In [510]:
#seats mode

In [490]:
seats_mode = df['Seats'].mode()[0]
seats_mode

5.0

In [511]:
df['Seats'].fillna(seats_mode, inplace=True)
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [512]:
missing_values = df.isnull().sum()
missing_values

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                   0
New_Price            5032
Price                   0
dtype: int64


Imputing missing values in the "Mileage" column with the median is justified because mileage data typically follows a skewed distribution. Using the median as a measure of central tendency is robust to outliers and provides a representative value. Additionally, it preserves the integrity of the data and ensures consistency in analysis.

In [513]:
#mileage median

2)I have Removed the units from some of the attributes and only kept the numerical values for kmpl from “Mileage”

In [514]:
df['Mileage'] = df['Mileage'].str.replace(r'kmpl', '', regex=True)
df['Mileage'] = df['Mileage'].str.replace(r'km/kg', '', regex=True)

In [515]:
mileage_median = df['Mileage'].median()
mileage_median

18.19

In [516]:
df['Mileage'].fillna(mileage_median, inplace=True)
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44,936 CC,57.6 bhp,5.0,NaN,2.50

In [517]:
missing_values = df.isnull().sum()
missing_values

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 0
Engine                 36
Power                  36
Seats                   0
New_Price            5032
Price                   0
dtype: int64


Imputing missing values in the "Engine" column with the mean is justified as it provides a measure of central tendency that reflects the typical engine size in the dataset. This approach maintains the dataset's integrity and ensures that imputed values are consistent with observed data, minimizing potential biases in subsequent analyses.

In [518]:
#Engine mean

2)I have Removed the units from some of the attributes and only kept the numerical values for CC from “Engine”

In [519]:
df['Engine'] = df['Engine'].str.replace(r'CC', '', regex=True)

In [520]:
df['Engine'] = pd.to_numeric(df['Engine'], errors='coerce')

In [521]:
engine_mean = df['Engine'].mean()
engine_mean

1631.552572706935

In [522]:
engine_mean = int(engine_mean)
engine_mean

1631

In [523]:
df['Engine'].fillna(engine_mean, inplace=True)
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13,1199.0,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2,1968.0,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4,1248.0,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4,1120.0,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0,2498.0,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9,998.0,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44,936.0,57.6 bhp,5.0,NaN,2.50

In [524]:
missing_values = df.isnull().sum()
missing_values

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 0
Engine                  0
Power                  36
Seats                   0
New_Price            5032
Price                   0
dtype: int64

2)I have Removed the units from some of the attributes and only kept the numerical values for bhp from“Power”

In [525]:
df['Power'] = df['Power'].str.replace(r'bhp', '', regex=True)

In [526]:
power_median = df['Power'].median()
power_median

98.6

In [527]:
df['Power'].fillna(power_median, inplace=True)
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.2,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13,1199.0,88.7,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2,1968.0,140.8,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.1,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4,1248.0,74,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4,1120.0,71,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0,2498.0,112,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9,998.0,67.1,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44,936.0,57.6,5.0,NaN,2.50

In [528]:
missing_values = df.isnull().sum()
missing_values

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 0
Engine                  0
Power                   0
Seats                   0
New_Price            5032
Price                   0
dtype: int64

2)I have Removed the units from some of the attributes and only kept the numerical values lakh from “New_price”.

In [529]:
df['New_Price']=df['New_Price'].str.extract('(\d+\.\d+)').astype(float)

In [530]:
d1=df.dropna()

In [531]:
d1

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13,1199.0,88.7,5.0,8.61,4.50
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56,1462.0,103.25,5.0,10.65,9.95
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.5,2477.0,175.56,7.0,32.01,15.00
18,20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.69,1995.0,190,5.0,47.87,18.55
26,28,Honda WRV i-VTEC VX,Kochi,2018,37430,Petrol,Manual,First,17.5,1199.0,88.7,5.0,10.57,9.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5827,5999,Tata Bolt Revotron XT,Chennai,2016,10000,Petrol,Manual,First,17.57,1193.0,88.7,5.0,7.77,4.00
5830,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,Petrol,Manual,First,16.09,1598.0,103.5,5.0,11.91,3.25
5833,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,Diesel,Manual,First,24.3,1248.0,88.5,5.0,9.93,7.43
5838,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,Petrol,Manual,First,18.5,1198.0,86.8,5.0,6.63,3.20
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4,1248.0,74,5.0,7.88,4.75

In [532]:
missing_values = d1.isnull().sum()
missing_values

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
New_Price            0
Price                0
dtype: int64

3) I have Changed the categorical variables “Fuel_Type” to [0,1,2]and for “Transmission” to [111,222] .

In [533]:
d1['Fuel_Type'].replace(['Diesel', 'Petrol','Electric'], [0, 1, 2],inplace=True)
d1['Transmission'].replace(['Manual', 'Automatic'], ['111', '222'],inplace=True)

<ipython-input-533-8aa62bc16262>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d1['Fuel_Type'].replace(['Diesel', 'Petrol','Electric'], [0, 1, 2],inplace=True)
<ipython-input-533-8aa62bc16262>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d1['Transmission'].replace(['Manual', 'Automatic'], ['111', '222'],inplace=True)

In [534]:
d1

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
1,2,Honda Jazz V,Chennai,2011,46000,1,111,First,13,1199.0,88.7,5.0,8.61,4.50
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,1,111,First,21.56,1462.0,103.25,5.0,10.65,9.95
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,0,111,First,13.5,2477.0,175.56,7.0,32.01,15.00
18,20,BMW 3 Series 320d,Kochi,2014,32982,0,222,First,22.69,1995.0,190,5.0,47.87,18.55
26,28,Honda WRV i-VTEC VX,Kochi,2018,37430,1,111,First,17.5,1199.0,88.7,5.0,10.57,9.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5827,5999,Tata Bolt Revotron XT,Chennai,2016,10000,1,111,First,17.57,1193.0,88.7,5.0,7.77,4.00
5830,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,1,111,First,16.09,1598.0,103.5,5.0,11.91,3.25
5833,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,0,111,First,24.3,1248.0,88.5,5.0,9.93,7.43
5838,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,1,111,First,18.5,1198.0,86.8,5.0,6.63,3.20
5842,6014,Maruti Swift VDI,Delhi,2014,27365,0,111,First,28.4,1248.0,74,5.0,7.88,4.75

4)I have Created one more feature and added this column to the dataset . I have calculated the current age of the car by subtracting “Year” value
from the current year

In [535]:
from datetime import datetime

In [536]:
current_year=datetime.now().year

In [537]:
d1['current_age']=current_year-d1['Year']

<ipython-input-537-30aaa5cd18c4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d1['current_age']=current_year-d1['Year']

In [538]:
d1

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,current_age
1,2,Honda Jazz V,Chennai,2011,46000,1,111,First,13,1199.0,88.7,5.0,8.61,4.50,13
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,1,111,First,21.56,1462.0,103.25,5.0,10.65,9.95,6
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,0,111,First,13.5,2477.0,175.56,7.0,32.01,15.00,10
18,20,BMW 3 Series 320d,Kochi,2014,32982,0,222,First,22.69,1995.0,190,5.0,47.87,18.55,10
26,28,Honda WRV i-VTEC VX,Kochi,2018,37430,1,111,First,17.5,1199.0,88.7,5.0,10.57,9.90,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5827,5999,Tata Bolt Revotron XT,Chennai,2016,10000,1,111,First,17.57,1193.0,88.7,5.0,7.77,4.00,8
5830,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,1,111,First,16.09,1598.0,103.5,5.0,11.91,3.25,13
5833,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,0,111,First,24.3,1248.0,88.5,5.0,9.93,7.43,8
5838,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,1,111,First,18.5,1198.0,86.8,5.0,6.63,3.20,11
5842,6014,Maruti Swift VDI,Delhi,2014,27365,0,111,First,28.4,1248.0,74,5.0,7.88,4.75,10

In [539]:
select=d1[['current_age','Seats','New_Price','Mileage','Fuel_Type']]
select

      current_age  Seats  New_Price Mileage  Fuel_Type
1              13    5.0       8.61     13           1
8               6    5.0      10.65  21.56           1
13             10    7.0      32.01   13.5           0
18             10    5.0      47.87  22.69           0
26              6    5.0      10.57   17.5           1
...           ...    ...        ...     ...        ...
5827            8    5.0       7.77  17.57           1
5830           13    5.0      11.91  16.09           1
5833            8    5.0       9.93   24.3           0
5838           11    5.0       6.63   18.5           1
5842           10    5.0       7.88   28.4           0

[801 rows x 5 columns]

I have performed filter operation

In [540]:
filter=d1[d1['Seats']>5]
filter

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,current_age
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,0,111,First,13.5,2477.0,175.56,7.0,32.01,15.00,10
45,47,Toyota Innova Crysta 2.7 GX MT,Bangalore,2012,70704,1,111,First,11.25,2694.0,163.7,7.0,18.64,10.95,12
58,60,Toyota Innova Crysta 2.4 GX MT 8S,Mumbai,2017,22000,0,111,First,13.68,2393.0,147.8,8.0,19.34,16.50,7
97,102,Datsun GO Plus T Petrol,Pune,2017,32851,1,111,First,19.83,1198.0,67,7.0,6.45,3.95,7
185,193,Maruti Ertiga ZDI,Mumbai,2016,33000,0,111,First,25.47,1248.0,88.50,7.0,12.74,8.50,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5578,5736,Mahindra KUV 100 G80 K8 Dual Tone,Delhi,2018,42000,1,111,First,18.15,1198.0,82,6.0,7.96,5.50,6
5597,5757,Toyota Innova Crysta 2.4 VX MT,Kolkata,2017,31000,0,111,First,13.68,2393.0,147.8,7.0,21.36,16.95,7
5715,5879,Mitsubishi Pajero Sport 4X4,Jaipur,2014,70000,0,111,Second,13.5,2477.0,175.56,7.0,33.21,11.85,10
5760,5928,Mahindra NuvoSport N6,Coimbatore,2018,37323,0,111,Second,17.45,1493.0,100,7.0,10.52,7.29,6
5777,5947,Maruti Ertiga VXI AT Petrol,Mumbai,2017,28000,1,222,First,18.69,1462.0,103,7.0,10.65,8.00,7

I have performed rename operation

In [541]:
renamed = d1.rename(columns={'Name': 'car_type'})
renamed

,Unnamed: 0,car_type,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,current_age
1,2,Honda Jazz V,Chennai,2011,46000,1,111,First,13,1199.0,88.7,5.0,8.61,4.50,13
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,1,111,First,21.56,1462.0,103.25,5.0,10.65,9.95,6
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,0,111,First,13.5,2477.0,175.56,7.0,32.01,15.00,10
18,20,BMW 3 Series 320d,Kochi,2014,32982,0,222,First,22.69,1995.0,190,5.0,47.87,18.55,10
26,28,Honda WRV i-VTEC VX,Kochi,2018,37430,1,111,First,17.5,1199.0,88.7,5.0,10.57,9.90,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5827,5999,Tata Bolt Revotron XT,Chennai,2016,10000,1,111,First,17.57,1193.0,88.7,5.0,7.77,4.00,8
5830,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,1,111,First,16.09,1598.0,103.5,5.0,11.91,3.25,13
5833,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,0,111,First,24.3,1248.0,88.5,5.0,9.93,7.43,8
5838,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,1,111,First,18.5,1198.0,86.8,5.0,6.63,3.20,11
5842,6014,Maruti Swift VDI,Delhi,2014,27365,0,111,First,28.4,1248.0,74,5.0,7.88,4.75,10

I have performed mutate operation

In [542]:
d1['price_diff'] = d1['New_Price'] - d1['Price']
d1

<ipython-input-542-33ed0aa86db7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d1['price_diff'] = d1['New_Price'] - d1['Price']

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,current_age,price_diff
1,2,Honda Jazz V,Chennai,2011,46000,1,111,First,13,1199.0,88.7,5.0,8.61,4.50,13,4.11
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,1,111,First,21.56,1462.0,103.25,5.0,10.65,9.95,6,0.70
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,0,111,First,13.5,2477.0,175.56,7.0,32.01,15.00,10,17.01
18,20,BMW 3 Series 320d,Kochi,2014,32982,0,222,First,22.69,1995.0,190,5.0,47.87,18.55,10,29.32
26,28,Honda WRV i-VTEC VX,Kochi,2018,37430,1,111,First,17.5,1199.0,88.7,5.0,10.57,9.90,6,0.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5827,5999,Tata Bolt Revotron XT,Chennai,2016,10000,1,111,First,17.57,1193.0,88.7,5.0,7.77,4.00,8,3.77
5830,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,1,111,First,16.09,1598.0,103.5,5.0,11.91,3.25,13,8.66
5833,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,0,111,First,24.3,1248.0,88.5,5.0,9.93,7.43,8,2.50
5838,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,1,111,First,18.5,1198.0,86.8,5.0,6.63,3.20,11,3.43
5842,6014,Maruti Swift VDI,Delhi,2014,27365,0,111,First,28.4,1248.0,74,5.0,7.88,4.75,10,3.13

I have performed arrange operation

In [543]:
arranged = d1.sort_values(by='Year')
arranged

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,current_age,price_diff
4723,4863,Hyundai Santro D Lite,Chennai,2001,140000,1,111,Third,20.3,1086.0,68,5.0,4.55,0.70,23,3.85
5414,5569,Honda CR-V Petrol 2WD,Chennai,2004,135000,1,222,Third,14.4,1997.0,152,5.0,33.51,3.00,20,30.51
337,351,Skoda Octavia RS,Jaipur,2005,100000,1,222,First,14.45,1984.0,227,5.0,28.37,2.05,19,26.32
2058,2119,Ford Freestyle Titanium Petrol,Mumbai,2007,1261,1,111,First,19.0,1194.0,94.68,5.0,8.12,6.00,17,2.12
1272,1313,Hyundai Verna CRDi 1.4 E,Chennai,2008,121097,0,111,Second,24.0,1396.0,88.76,5.0,10.73,1.90,16,8.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5405,5560,Renault KWID RXT Optional,Kochi,2019,6568,1,111,First,25.17,799.0,53.3,5.0,4.78,5.09,5,-0.31
2639,2728,Maruti Baleno Alpha CVT,Kochi,2019,13574,1,222,First,21.4,1197.0,83.1,5.0,10.30,9.51,5,0.79
165,173,Hyundai Grand i10 1.2 Kappa Asta,Kolkata,2019,1000,1,111,First,18.9,1197.0,81.86,5.0,7.39,6.50,5,0.89
4002,4131,Toyota Fortuner 2.8 2WD MT,Coimbatore,2019,56251,0,111,First,14.24,2755.0,174.5,7.0,37.17,35.82,5,1.35
2827,2917,Maruti Ignis 1.2 AMT Alpha,Coimbatore,2019,3906,1,222,First,20.89,1197.0,81.80,5.0,7.96,7.36,5,0.60

I have performed summary operation

In [544]:
summary = d1.groupby('Seats')['Price'].mean()
summary

Seats
2.0    68.980000
4.0    34.555833
5.0    12.515426
6.0     7.665000
7.0    17.211356
8.0    18.655714
Name: Price, dtype: float64